[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://gerrit.wikimedia.org/r/operations/puppet/nginx
[submodule "puppet/modules/cdh"]
	path = puppet/modules/cdh
	url = https://gerrit.wikimedia.org/r/operations/puppet/cdh
