/.vagrant
/.bundle
/.gem
/.idea
/.rbenv-version
/.ruby-version
/.settings.yaml
/.yardoc/
/*.gem
/*.sublime-workspace
/no-update
/Vagrantfile-extra.rb
/LocalSettings.php
/mediawiki/
/mediawiki-*/
/settings.d
/srv/docroot
!/settings.d/README
!/settings.d/puppet-managed/README
/puppet/manifests/manifests.d
!/puppet/manifests/manifests.d/README
!/puppet/manifests/manifests.d/dummy.pp
/logs
!/logs/puppet/.gitignore
/vagrant.d/
/support/packager/output
/profiles
/node_modules
/tmp
/doc/
/*.iml
.DS_Store
Thumbs.db
.code/