/.vagrant
/.bundle
/.gem
/.rbenv-version
/.settings.yaml
/*.gem
/Gemfile.lock
/no-update
/Vagrantfile-extra.rb
/Roles.yaml
/Roles
/LocalSettings.php
/mediawiki/
/settings.d
!/settings.d/README
!/settings.d/puppet-managed/README
/puppet/manifests/manifests.d
!/puppet/manifests/manifests.d/README
!/puppet/manifests/manifests.d/dummy.pp
/logs
!/logs/puppet/.gitignore
/apt-cache
!/apt-cache/partial/.gitignore
/wikimania_scholarships/
/scholarships/
/vagrant.d/
/support/packager/output
/wikimetrics/
/mathoid
/iegreview
