# This file is managed by puppet
# See puppet/modules/mysql/files/innodb_large_prefix.cnf
#
# Enable settings to allow indexing >767 bytes.
#
# Tables needing innodb_large_prefix support will need to use
# row_format=<dynamic|compressed> in their create statements in addition to
# these settings. innodb_default_row_format is not supported until 5.7.9
[mysqld]
innodb_file_per_table = 1
innodb_file_format = barracuda
innodb_large_prefix = 1
